.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 10;
  box-sizing: border-box;
}

.header nav {
  display: flex;
  gap: 1rem;
}

.header nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.header nav{
    font-size: 1rem;
}

.profile{
    font-size: 1.3rem;
}